@charset "UTF-8";



.intro ul li{
	width:57%;
	list-style: none;
	border: 3px solid #799DB9;
	border-radius: 15px;
	margin: 20px auto;
	padding: 0px 10px 30px 10px;
}

.intro ul li p{
	font-weight:bold;
	border-left: 4px solid #D88144;
	padding-left: 6px;
}